body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #8d8989f0;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 430px;
}
.login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.login-container img {
    width: 270px;
    margin-bottom: 25px;
}
.form-check {
    text-align: left;
}
.form-check-label {
    margin-left: 5px;
}
.forgot-password {
    text-align: right;
}
.btn-login {
    width: 100%;
}