:root{
  --primary : #7f3320;
  --background : #471b10;
  --secondary : #211d1d;
  --third : #ffc42c;
  --font : #fff;
}

/*fonts*/
.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}
.font-archivo {
  font-family: 'Archivo', sans-serif !important;
}

/*search-bar*/
.search {
  --padding : 16px;
  
  
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  border-radius: 28px;
  background-color: #f6f6f6;
  transition: box-shadow 0.25s;
}

.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
  font-size: 16px;
  font-family: 'Lexend', sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 300px;;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

  .search-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/*component*/
.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary:hover {
  background-color: var(--third) !important;
  border-color: var(--third) !important;
}

/*navbar*/
.active {
  color: var(--third) !important;
}
.nav-link:hover {
  color: var(--third) !important;
}

/*image*/
.img-fluid {
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  display: block;
  margin: 120px auto;
}

/*song*/
#play1 {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
}

/*card*/
.card {
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #e8e8e8;
  box-shadow: 5px 5px 6px #dadada,
                  -5px -5px 6px #f6f6f6;
      transition: 0.4s;
    gap: 1rem;
    display: flex;
    cursor: pointer;
    }
  
  .card:hover {
      translate: 0 -10px;
  }
  
  .card-title {
      font-size: 18px;
      font-weight: 600;
      color: #2e54a7;
      margin: 15px 0 0 10px;
  }
  
  .card-image {
      min-height: 170px;
      background-color: #c9c9c9;
      border-radius: 15px;
      box-shadow: inset 8px 8px 10px #c3c3c3,
              inset -8px -8px 10px #cfcfcf;
  }
  
  .card-body {
      margin: 13px 0 0 10px;
      color: rgb(31, 31, 31);
      font-size: 15px;
  }
  
  .footer {
      float: right;
      margin: 28px 0 0 18px;
      font-size: 13px;
      color: #636363;
  }
  
  .by-name {
      font-weight: 700;
  }
